---
import '@fontsource/inter';

import CookieConsent from '@/components/CookieConsent.astro';

import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/emca-logo.png" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
		/>
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>
	<body class="min-h-[100vh] bg-[#FEFBED] text-[#5C3F32]">
		<slot />

		<CookieConsent />



             <script type="module" src="/src/cartManager.ts"></script>

	</body>
</html>

<style is:global>
	* {
		font-family: 'Avenir';
	}
	@font-face {
		font-family: 'Avenir';
		src:
			url('/fonts/Avenir.ttc') format('truetype'),
			url('/fonts/Avenir.otf') format('opentype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Chalkduster';
		src:
			url('/fonts/Chalkduster.woff') format('woff'),
			url('/fonts/Chalkduster.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}
</style>
