---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Info from './Info.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="flex w-full flex-col md:flex-row mb-5">
  <div class="ml-2 shadow-md p-4 bg-white">
	<Info
		video="/infos/coffee.webm"
		text=`${t('coffee.1.title')}`
		subtext=`${t('coffee.1.description')}`
	/>
	</div>

	<div class="ml-2 shadow-md p-4 bg-white">
	<Info
		video="/infos/coffee-roasting.webm"
		text=`${t('coffee.2.title')}`
		subtext=`${t('coffee.2.description')}`
	/>
	</div>

	<div class="ml-2 shadow-md p-4 bg-white">
	<Info
		video="/infos/coffee-torefaction.webm"
		text=`${t('coffee.3.title')}`
		subtext=`${t('coffee.3.description')}`
	/>
	</div>
</section>
